<!doctype html>
<html lang="es" ng-app="calendario">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Calendario</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="main.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
  <link rel="stylesheet" href="almanaque.css">
</head>
<body>
	<h1>ALMANAQUE</h1>
    <div ng-controller="yoControlo">
    
    <div class="left">
    	<h3>mes</h3>
    	<input type="number" name="meses" min="1" max="12" step="1" ng-model="month" ng-change="cambiaMes()"><br>

    </div>

    <div class="right">
    	<h3>año</h3>
		<input type="number" name="anyos" min="0" max="9999" step="1" ng-model="year" ng-change="cambiaMes()"><br>

    </div>

	<div ng-repeat="dia in diasMes" class="dias">
		<span ng-bind="dia" class="dia"></span>
	</div>

    </div>

<script>


</script>
</body>
</html>